<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auctions.css">
    <link rel="stylesheet" href="/css/auctionForm.css">
    <link rel="stylesheet" href="/css/loginForm.css">
<%- include('../includes/navbar.ejs') %>
<%- include('loginForm.ejs') %>
<%- include('auctionForm.ejs') %>
    <main class="main-section">
        <img src="/images/background.jpg" alt="">
        <div class="middle-section">
            <div class="text-section">
                <h1 class="poppins-bold">Começa já a tua aventura no flappy bid</h1>
                <p class="poppins-regular text">Junta-te a mais de 200.000 Vendedores de confiança</p>
                <p class="poppins-regular text">e vem trazer uma nova vida aos video-jogos</p>
            </div>
            <div class="button-section">
                <button class="poppins-bold find">Encontrar leilão</button>
                <button class="poppins-bold create" id="add-auction">Criar leilão</button>
            </div>
        </div>
    </main>
    <section class="mid-section">
        <div class="header">
            <h1 class="poppins-bold">Leilões</h1>
        </div>
        <div class="header-text">
            <h1 class="poppins-bold title">Temos 550,321 Jogos a serem leiloados agora!</h1>
            <h3 class="poppins-bold subtitle">E tu? do que estás a espera?</h3>
        </div>
        <div class="content">
            <div class="inputs">
                <input type="text" placeholder="Pesquisa aqui..."  class="poppins-regular">
                <button class="poppins-bold filter"><img src="/images/filter-logo.png" width="20" height="20" alt=""></button>
                <button class="poppins-bold search">Pesquisar</button>
            </div>
                <div class="box-container">
                    <div class="box">
                        <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                        <img class="game" src="/images/tft.jpg" alt="">
                        <h5 class="poppins-bold">Super Mario Bros</h5>
                        <p class="poppins-regular">Nintendo</p>
                        <p class="poppins-regular">Last Bid: 20,00€</p>
                        <button class="poppins-bold">Leiloar</button>
                    </div>
                    <div class="box">
                        <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                        <img class="game" src="/images/tft.jpg" alt="">
                        <h5 class="poppins-bold">Super Mario Bros</h5>
                        <p class="poppins-regular">Nintendo</p>
                        <p class="poppins-regular">Last Bid: 20,00€</p>
                        <button class="poppins-bold">Leiloar</button>
                    </div>
                    <div class="box">
                        <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                        <img class="game" src="/images/tft.jpg" alt="">
                        <h5 class="poppins-bold">Super Mario Bros</h5>
                        <p class="poppins-regular">Nintendo</p>
                        <p class="poppins-regular">Last Bid: 20,00€</p>
                        <button class="poppins-bold">Leiloar</button>
                    </div>
                    <div class="box">
                        <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                        <img class="game" src="/images/tft.jpg" alt="">
                        <h5 class="poppins-bold">Super Mario Bros</h5>
                        <p class="poppins-regular">Nintendo</p>
                        <p class="poppins-regular">Last Bid: 20,00€</p>
                        <button class="poppins-bold">Leiloar</button>
                    </div>
                    <div class="box">
                        <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                        <img class="game" src="/images/tft.jpg" alt="">
                        <h5 class="poppins-bold">Super Mario Bros</h5>
                        <p class="poppins-regular">Nintendo</p>
                        <p class="poppins-regular">Last Bid: 20,00€</p>
                        <button class="poppins-bold">Leiloar</button>
                    </div>
                    <div class="box">
                        <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                        <img class="game" src="/images/tft.jpg" alt="">
                        <h5 class="poppins-bold">Super Mario Bros</h5>
                        <p class="poppins-regular">Nintendo</p>
                        <p class="poppins-regular">Last Bid: 20,00€</p>
                        <button class="poppins-bold">Leiloar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/javascript/auction.js" defer></script>
    <script src="/javascript/login.js" defer></script>
<%- include('../includes/end.ejs') %>