<%- include('../includes/head.ejs') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/inicialPage.css">
    <link rel="stylesheet" href="/css/loadingScreen.css">
    <link rel="stylesheet" href="/css/auctionForm.css">
    <link rel="stylesheet" href="/css/loginForm.css">
    <title>Flappy Bid</title>
<%- include('../includes/navbar.ejs') %>
<%- include('loginForm.ejs') %>
<%- include('loadingScreen.ejs') %>
    <div class="background">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
    </div>
    <main class="main-section">
        <img src="/images/initialBack.jpg" class="mario" alt="">
        <div class="left-section">
            <h2 class="poppins-bold">Seja muito bem vindo, onde coisas velhas ganham vida</h2>
            <p class="poppins-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam suscipit aut id <br> obcaecati earum odit. Vel illum nostrum voluptatibus, eius facere obcaecati perferendis <br> consequuntur exercitationem, at aspernatur labore ducimus rem.</p>
            <button class="poppins-regular" >Registo</button>
        </div>
        <div class="right-section">
            <img src="/images/r.png" width="400" height="400" alt="">
        </div>
    </main>
    <section class="description-section">
        <div class="description-header-section">
            <h1 class="poppins-bold">Quem somos</h1>
        </div>
        <div class="description-content-section">
            <p class="poppins-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium illo <br> quia placeat voluptatum ut suscipit consectetur corporis dolor <br> repudiandae vero et corrupti, quisquam nobis ducimus illum accusantium! Molestiae, <br> eligendi optio!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, <br> nulla rerum quidem magni aliquid minima placeat eveniet ullam, optio corporis, <br> doloremque repellendus voluptatibus mollitia laudantium itaque similique saepe natus ab?
            </p>
        </div>
    </section>
    <section class="company-section">
        <div class="company-header-section">
            <h1 class="poppins-bold">As nossas marcas...</h1>
        </div>
        <div class="company-content-section">
            <div class="box">
                <img src="/images/social.png" alt="">
                <hr>
                <p class="poppins-bold">Steam</p>
            </div>
            <div class="box">
                <img src="/images/xbox.png" alt="">
                <hr>
                <p class="poppins-bold">XBOX</p>
            </div>
            <div class="box">
                <img src="/images/mushroom.png" alt="">
                <hr>
                <p class="poppins-bold">Nintendo</p>
            </div>
            <div class="box">
                <img src="/images/Playstation.png" alt="">
                <hr>
                <p class="poppins-bold">Playstation</p>
            </div>
        </div>
    </section>
    <section class="bids-section">
        <div class="left-section">
            <img src="/images/kopatropa.png" alt="">
        </div>
        <div class="right-section">
            <h1 class="poppins-bold">Recomendado para ti</h1>
            
            <div class="box-container">
                <div class="box">
                    <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                    <img class="game" src="/images/tft.jpg" alt="">
                    <h5 class="poppins-bold">Super Mario Bros</h5>
                    <p class="poppins-regular">Nintendo</p>
                    <p class="poppins-regular">Last Bid: 20,00€</p>
                    <button class="poppins-bold">Leiloar</button>
                </div>
                <div class="box">
                    <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                    <img class="game" src="/images/tft.jpg" alt="">
                    <h5 class="poppins-bold">Super Mario Bros</h5>
                    <p class="poppins-regular">Nintendo</p>
                    <p class="poppins-regular">Last Bid: 20,00€</p>
                    <button class="poppins-bold">Leiloar</button>
                </div>
                <div class="box">
                    <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                    <img class="game" src="/images/tft.jpg" alt="">
                    <h5 class="poppins-bold">Super Mario Bros</h5>
                    <p class="poppins-regular">Nintendo</p>
                    <p class="poppins-regular">Last Bid: 20,00€</p>
                    <button class="poppins-bold">Leiloar</button>
                </div>
                <div class="box">
                    <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                    <img class="game" src="/images/tft.jpg" alt="">
                    <h5 class="poppins-bold">Super Mario Bros</h5>
                    <p class="poppins-regular">Nintendo</p>
                    <p class="poppins-regular">Last Bid: 20,00€</p>
                    <button class="poppins-bold">Leiloar</button>
                </div>
                <div class="box">
                    <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                    <img class="game" src="/images/tft.jpg" alt="">
                    <h5 class="poppins-bold">Super Mario Bros</h5>
                    <p class="poppins-regular">Nintendo</p>
                    <p class="poppins-regular">Last Bid: 20,00€</p>
                    <button class="poppins-bold">Leiloar</button>
                </div>
                <div class="box">
                    <img class="green-mushroom" src="/images/green-mushroom.png" alt="">
                    <img class="game" src="/images/tft.jpg" alt="">
                    <h5 class="poppins-bold">Super Mario Bros</h5>
                    <p class="poppins-regular">Nintendo</p>
                    <p class="poppins-regular">Last Bid: 20,00€</p>
                    <button class="poppins-bold">Leiloar</button>
                </div>
            </div>
        </div>
        <img class="floor" src="/images/floor-mario.png" alt="">
    </section>
    <section class="social-section">
        <h1 class="poppins-bold">Segue-nos</h1>
            <p class="poppins-regular">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium illo <br> quia placeat
                voluptatum ut suscipit consectetur corporis dolor <br> repudiandae vero et corrupti, quisquam nobis ducimus illum
                accusantium! Molestiae, <br> eligendi optio!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, <br> nulla rerum quidem magni aliquid minima
                placeat eveniet ullam, optio corporis, <br> doloremque repellendus voluptatibus mollitia laudantium itaque similique
                saepe natus ab?
            </p>
        <div class="social-icons-section">
            <img class="social-media" src="/images/instagram.png" alt="">
            <img class="social-media" src="/images/twitter.png" alt="">
            <img class="social-media" src="/images/tik-tok.png" alt="">
            <img class="social-media" src="/images/reddit.png" alt="">
        </div>
    </section>
<%- include('../includes/end.ejs') %>